{% extends "project/jobs.html" %}
{% load widget_tweaks %}

{% block title %}Project - {{ project.name }} - Jobs {% endblock %}

{% block job_nav %}
<ul class="nav nav-list">
    {% block project_action_job %}
    <li class="nav-header">Action</li>
    <li>
        <a href="{% url 'pumpkin.views.project_jobs' identifier=project.identifier %}">List Jobs</a>
    </li>
    <li>
        <a href="{% url 'pumpkin.views.project_job_create' identifier=project.identifier %}">Create Job</a>
    </li>
    <li>
        <a href="{% url 'pumpkin.views.project_job_logs' identifier=project.identifier job_id=job.id %}">Job Logs #{{ job.id }}</a>
    </li>
    <li class="active">
        <a href="{% url 'pumpkin.views.project_job_configure' identifier=project.identifier job_id=job.id %}">Configure Job #{{ job.id }}</a>
    </li>
    {% endblock project_action_job %}
</ul>
{% endblock job_nav %}


{% block job_content%}
<form class="form-horizontal" method="post">
    {% csrf_token %}
    <legend>Configure Job</legend>
    <div class="control-group">
        <label class="control-label" for="id_{{ field.name }}">{{ job_form.name.label }}</label>
        <div class="controls">
            {{ job_form.name|add_class:"input-block-level" }}
            {{ job_form.name.label.errors }}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="id_{{ field.name }}">{{ job_form.description.label }}</label>
        <div class="controls">
            {{ job_form.description |add_class:"input-block-level" }}
            {{ job_form.description.label.errors }}
        </div>
    </div>
    <legend class="sublegend">Source Code Management</legend>
    <div class="control-group">
        <label class="control-label" for="id_{{ field.name }}">{{ job_form.repository_branch.label }}</label>
        <div class="controls">
            {{ job_form.repository_branch |add_class:"input-block-level" }}
            {{ job_form.repository_branch.label.errors }}
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="id_{{ field.name }}">{{ job_form.clean_workspace.label }}</label>
        <div class="controls">
            {{ job_form.clean_workspace|add_class:"input-block-level" }}
            {{ job_form.clean_workspace.label.errors }}
        </div>
    </div>


    <legend class="sublegend">Triggers</legend>

    {% comment %}
    <div id="triggers-wrapper">
        {% for trigger_html_form in job.get_trigger_html_forms %}
        {{ trigger_html_form }}
        {% endfor %}
    </div>
    {% endcomment %}
    <div id="triggers-wrapper">
        {% for trigger_html_form in job.get_trigger_html_forms %}
        {{ trigger_html_form }}
        {% endfor %}
    </div>


    <legend class="sublegend">Build Steps</legend>
    <div id="builds-wrapper">
        {% autoescape off %}
        {% for build in job.builds.all %}
        {{ build.get_template }}
        {% endfor %}
        {% endautoescape %}
    </div>

    <div class="control-group">
        <div class="controls">
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Add Build Step <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for builder in builders %}
                    <li><a href="#add-build" class="add_build_link" data-builderid="{{ builder.id }}">{{ builder.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <legend class="sublegend">Post Builds</legend>
    <div id="postbuilds-wrapper">
        {% autoescape off %}
        {% for postbuilds in job.postbuilds.all %}
        {{ postbuilds.get_template }}
        {% endfor %}
        {% endautoescape %}
    </div>

    <div class="control-group">
        <div class="controls">
            <div class="btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    Add Post Build <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% for postbuilder in postbuilders %}
                    <li><a href="#add-postbuild" class="add_postbuild_link" data-builderid="{{ postbuilder.id }}">{{ postbuilder.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'pumpkin.views.project_job_delete' identifier=project.identifier job_id=job.id %}" onclick="return confirm('Are you sure want to delete this Job?');" class="btn btn-danger btn-small">Delete this Job</a>
    </div>
</form>
{% endblock job_content %}

{% block extra_js %}
<script type="text/javascript">

    var add_build_form = function(builder_id) {
        var builder = [];
        {% autoescape off %}
        {% for builder in builders %}
        builder[{{ builder.id }}] = '{{ builder.get_inline_template }}';
        {% endfor %}
        {% endautoescape %}
        $("#builds-wrapper").append(builder[builder_id]);
    };

    var add_postbuild_form = function(postbuilder_id) {
        var postbuilder = [];
        {% autoescape off %}
        {% for postbuilder in postbuilders %}
        postbuilder[{{ postbuilder.id }}] = '{{ postbuilder.get_inline_template }}';
        {% endfor %}
        {% endautoescape %}
        $("#postbuilds-wrapper").append(postbuilder[postbuilder_id]);
    };


    var prepare_event = function() {
        $("#builds-wrapper").sortable({ axis: "y" });
        $("#builds-wrapper").disableSelection();
        $("#postbuilds-wrapper").sortable({ axis: "y" });
        $("#postbuilds-wrapper").disableSelection();
        $(".buildhelp").popover();
    }
    prepare_event();

    // event untuk build ataupun post build
    var delete_event = function() {
        $('.build_delete_link').click(function(){
            $(this).parents('.build-step').fadeOut('slow', function(){
                $(this).remove();
            });
            prepare_event();
            return false;
        });
    }
    delete_event();

    $('.add_build_link').click(function(){
        add_build_form($(this).data('builderid'));
        prepare_event();
        delete_event();
    });

    $('.add_postbuild_link').click(function(){
        add_postbuild_form($(this).data('builderid'));
        prepare_event();
        delete_event();
    });

    $('.trigger_check').each(function(){
        $(this).click(function(){
            $('#trigger_container_' + $(this).val()).toggle();
        })
        if ($(this).prop('checked')) {
            $('#trigger_container_' + $(this).val()).show();
        } else {
            $('#trigger_container_' + $(this).val()).hide();
        }

    })


</script>
{% endblock extra_js %}
