{% extends "project/jobs.html" %}

{% block title %}Project - {{ project.name }} - Jobs {% endblock %}


{% block job_nav %}
<ul class="nav nav-list">
    {% block project_action_job %}
    <li class="nav-header">Action</li>
    <li>
        <a href="{% url 'pumpkin.views.project_jobs' identifier=project.identifier %}">List Jobs</a>
    </li>
    <li class="active">
        <a href="{% url 'pumpkin.views.project_job_create' identifier=project.identifier %}">Create Job</a>
    </li>
    {% endblock project_action_job %}
</ul>
{% endblock job_nav %}

{% block job_content%}
<form class="form-horizontal" method="post">
    {% csrf_token %}
    <legend>Create New Job</legend>
    {% for field in job_form %}
    <div class="control-group">
        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
        <div class="controls">
            {{ field }}
            {{ field.errors }}
        </div>
    </div>
    {% endfor %}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
{% endblock job_content %}

