{% extends "project/jobs.html" %}

{% block title %}Project - {{ project.name }} - Jobs {% endblock %}

{% block job_nav %}
<ul class="nav nav-list">
    {% block project_action_job %}
    <li class="nav-header">Action</li>
    <li>
        <a href="{% url 'pumpkin.views.project_jobs' identifier=project.identifier %}">List Jobs</a>
    </li>
    <li>
        <a href="{% url 'pumpkin.views.project_job_create' identifier=project.identifier %}">Create Job</a>
    </li>
    <li class="active">
        <a href="{% url 'pumpkin.views.project_job_logs' identifier=project.identifier job_id=job.id %}">Job Logs #{{ job.id }}</a>
    </li>
    <li>
        <a href="{% url 'pumpkin.views.project_job_configure' identifier=project.identifier job_id=job.id %}">Configure Job #{{ job.id }}</a>
    </li>
    {% endblock project_action_job %}
</ul>
{% endblock job_nav %}



{% block job_content%}
<h4>{{ job.name }} Logs</h4>
<table class="table table-border">
    <thead>
        <tr>
            <th>Date Time</th>
            <th>Status</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        {% autoescape off %}
        {% for log in logs %}
        <tr>
            <td>
                <a href="#ModalLog{{ log.id }}" title="clik to see complete log" data-toggle="modal">{{ log.begin }}</a>
                <div id="ModalLog{{ log.id }}" class="modal modal-log hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4><strong>{{ job.name }}</strong> log at {{ log.begin }} </h4>
                    </div>
                    <div class="modal-body">
                        <div class="accordion" id="accordionLog{{ log.id }}">
                            {% for build_log in log.build_logs.all %}
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionLog{{ log.id }}" href="#collapse{{ build_log.id }}">
                                        {{ build_log.content|linebreaks }}
                                    </a>
                                </div>
                                <div id="collapse{{ build_log.id }}" class="accordion-body collapse">
                                    <div class="accordion-inner body_foreground body_background pre">{{ build_log.output_html }}{{ build_log.error_html }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    </div>
                </div>

            </td>
            <td>{{ log.get_status }}</td>
            <td>{{ log.duration }}</td>
        </tr>
        {% endfor %}
        {% endautoescape %}
    </tbody>
</table>
{% endblock job_content %}

