{% extends "project/base.html" %}

{% block extra_meta %}
{% endblock extra_meta %}


{% block title %}Project - {{ project.name }} - Jobs {% endblock %}

{% block project_nav_jobs%}<li class="active"><a href="{% url 'pumpkin.views.project_jobs' identifier=project.identifier %}">Jobs</a></li>{% endblock %}

{% block project_content %}
<div class="row">
    <div class="span2">
        {% block job_nav %}
        <ul class="nav nav-list">
            {% block project_action_job %}
            <li class="nav-header">Action</li>
            <li class="active">
                <a href="{% url 'pumpkin.views.project_jobs' identifier=project.identifier %}">List Jobs</a>
            </li>
            <li>
                <a href="{% url 'pumpkin.views.project_job_create' identifier=project.identifier %}">Create Job</a>
            </li>
            {% endblock project_action_job %}
        </ul>
        {% endblock job_nav %}
    </div>
    <div class="span10">
        {% block job_content %}
        <table class="table table-border span-8">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Running</th>
                    <th>Last Status</th>
                    <th>Last Duration</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {% autoescape off %}
                {% for job in jobs %}
                <tr>
                    <td><a href="{% url 'pumpkin.views.project_job_logs' identifier=project.identifier job_id=job.id %}" title="clik to see all logs">{{ job.name }}</a></td>
                    <td>
                        <a href="#ModalLog{{ job.last_run.id }}" title="clik to see complete log" data-toggle="modal">{{ job.last_run.begin }}</a>
                        <div id="ModalLog{{ job.last_run.id }}" class="modal modal-log hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4><strong>{{ job.name }}</strong> log at {{ job.last_run.begin }} </h4>
                            </div>
                            <div class="modal-body">
                                <div class="accordion" id="accordionLog{{ job.last_run.id }}">
                                    {% for build_log in job.last_run.build_logs.all %}
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionLog{{ job.last_run.id }}" href="#collapse{{ build_log.id }}">
                                                {{ build_log.content|linebreaks }}
                                            </a>
                                        </div>
                                        <div id="collapse{{ build_log.id }}" class="accordion-body collapse">
                                            <div class="accordion-inner body_foreground body_background pre">{{ build_log.output_html }}{{ build_log.error_html }}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                            </div>
                        </div>
                    </td>
                    <td>{{ job.get_last_status }}</td>
                    <td>{{ job.last_duration }}</td>
                    <td>
                        <a href="{% url 'pumpkin.views.project_job_configure' identifier=project.identifier job_id=job.id %}" title="click to configure this job"> <i class="icon-asterisk"> </i></a>
                        <a href="{% url 'pumpkin.views.project_job_run' identifier=project.identifier job_id=job.id %}" title="click to schedule run this job"> <i class="icon-play"> </i></a>
                    </td>
                </tr>
                {% endfor %}
                {% endautoescape %}
            </tbody>
        </table>
        {% endblock job_content %}
    </div>
</div>


{% endblock project_content %}

