{% load widget_tweaks %}
{% load form_utils %}
<div class="trigger-item">
    <label class="checkbox">
        <input name="builder_enable_id" type="checkbox" class="trigger_check" {% if job_trigger %}checked="checked"{% endif %} value="{{ trigger.id }}">
        {{ trigger.name }}
    </label>
    <i class="icon-align-justify"></i> {{ builder_name }}
    <div class="builder-container">
        {% for field in form %}
        {% if field.is_hidden %}
        {{ field }}
        {% else %}
        <div class="control-group">
            {% if field|is_checkbox %}
            <div class="controls">
                <label class="checkbox">
                    {{ field }} {{ field.label }}
                </label>
            </div>
            {% else %}
            <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="controls">
                {{ field|add_class:"input-block-level, input-build-step" }}
                <span class="help-inline"><a href="#help" rel="popover" class="buildhelp" data-toggle="popover" data-html="true" data-placement="left" data-title="Help" data-content="{{ field.help_text }}" ><i class="icon-question-sign"></i></a></span>
            </div>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
