<div class="build-step">
    <i class="icon-move"></i> {{ builder_name }}
    <div class="control-group">
        <label class="control-label" for="id_input_builder_{{ name }}">{{ input_label }}</label>
        <div class="controls">
            <input type="hidden" value="{{ build_id }}" name="build_id"/>
            <input type="hidden" value="{{ builder_id }}" name="builder_id"/>
            <textarea name="{{ input_name }}" id="id_input_builder_{{ name }}" class="input-build-step">{{ input_value }}</textarea>
            <span class="help-inline"><a href="#help" rel="popover" class="buildhelp" data-toggle="popover" data-html="true" data-placement="left" data-title="Help" data-content="{{ html_help }}" ><i class="icon-question-sign"></i></a></span>
            <br/>
            <a href="#delete_build" class="build_delete_link">Delete Step</a>
        </div>
    </div>
</div>
