<div class="build-step">
    <i class="icon-align-justify"></i> {{ builder_name }}
    <div class="control-group">
        <label class="control-label" for="id_builder_{{ name }}">Python Class Name</label>
        <div class="controls">
            <input type="hidden" value="{{ build_id }}" name="build_id"/>
            <input type="hidden" value="{{ builder_id }}" name="builder_id"/>
            <textarea name="{{ name }}" id="id_builder_{{ name }}" class="input-block-level">{{ value }}</textarea>
        </div>
    </div>
</div>
