{% extends "base.html" %}

{% block title %}Pumpkin - Create a new project{% endblock %}


{% block content %}
<div class="container">
    <div class="row new-project">
        <h3>Create project successful!</h3>
        <div class="form-actions">
            <a class="btn btn-primary" href="{% url 'pumpkin.views.project' identifier=project.identifier %}">Go to project</a>
        </div>
    </div>
</div>
{% endblock content %}
