<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}pumpkin{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block extra_meta %}{% endblock extra_meta %}


    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
    <!--
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
    -->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- JQUERY UI CSS -->
    <link href="{{ STATIC_URL }}css/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">

    <!-- ANSI CSS -->
    <link href="{{ STATIC_URL }}css/ansi.css" rel="stylesheet">

    <!-- This file store project specific CSS -->
    <link href="{{ STATIC_URL }}css/screen.css" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template,
    then move to project.css -->
    {% block extra_css %}{% endblock extra_css %}
</head>

<body>

    <div class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">pumpkin</a>
                <ul class="nav">
                    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Projects <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            {% for p in projects %}
                            <li><a href="{% url 'pumpkin.views.project' identifier=p.identifier %}">{{ p.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
                <a class="btn btn-primary" href="/project/create">Create</a>
                <div class="pull-right">

                    <form class="navbar-search">
                      <div class="input-prepend">
                        <input type="text" class="search-query" placeholder="Search"><i class="icon-search"></i>
                      </div>
                    </form>

                    <ul class="nav">
                        <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'django.contrib.auth.views.logout'%}">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    {% block content %}
    <div class="container">


        <p>Use this document as a way to quick start any new project.</p>


    </div> <!-- /container -->
    {% endblock content %}

    <footer>
        <div class="container">
            &copy; 2013
        </div>
    </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    <!-- JQUERY UI -->
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom.min.js"></script>

    <!-- place project specific Javascript in this file -->
    <script src="{{ STATIC_URL }}js/project.js"></script>

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
