{% extends "base.html" %}
{% load webdesign %}
{% block title %}Project - {{ project.name }}{% endblock %}
{% block content %}


<header>
    <div class="container">
        <div class="row">
            <div class="span-2">
                <a href="{% url 'pumpkin.views.project' identifier=project.identifier %}">
                    <img src="{{ STATIC_URL }}img/no-logo-80.jpg" class="img-circle"/>
                </a>
            </div>
            <div class="span-10">
                <a href="{% url 'pumpkin.views.project' identifier=project.identifier %}">
                    <h3 class="project-name">{{ project.name }}</h3>
                </a>
                <p>{{ project.description }}</p>
            </div>
        </div>
    </div>
</header>



<div class="submenu">
    <div class="container">
        <ul class="nav nav-tabs">
            {% url 'pumpkin.views.project' identifier=project.identifier as url %}
                <li{% if request.path == url %} class="active"{% endif %}>
                    <a href="{{ url }}">Overview</a>
                </li>

                {% url 'pumpkin.views.project_jobs' identifier=project.identifier as url %}
                <li{% if request.path == url %} class="active"{% endif %}>
                    <a href="{{ url }}">Jobs</a>
                </li>

                {% include 'project_nav_extra.html' %}

                {% url 'pumpkin.views.project_configure' identifier=project.identifier as url %}
                <li class="{% if request.path == url  %}active {% endif %}pull-right">
                    <a href="{{ url }}">Configure</a>
                </li>
        </ul>
    </div>
</div>

<div class="project-content">
    <div class="container">
        <div class="tab-content">
            <div class="tab-pane active">
            {% block content_project %}
            <h4>{% lorem 4 w %}</h4>
            {% lorem 3 p %}
            {% endblock content_project %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
