{% extends "base.html" %}

{% block title %}Project - {{ project.name }}{% endblock %}

{% block page_title %}New Template{% endblock page_title %}
{% block content %}
<div class="container-fluid">
    <h2>{{ project.name }}</h2>
    <div class="row-fluid">
        <div class="span2">

            <ul class="nav nav-list">

                {% url 'pumpkin.views.project' identifier=project.identifier as url %}
                <li{% if request.path == url %} class="active"{% endif %}>
                    <a href="{{ url }}">Summary</a>
                </li>

                {% url 'pumpkin.views.project_jobs' identifier=project.identifier as url %}
                <li{% if request.path == url %} class="active"{% endif %}>
                    <a href="{{ url }}">Jobs</a>
                </li>

                {% if job %}
                {% url 'pumpkin.views.project_jobs' identifier=project.identifier as url %}
                <li class="nav-header">Job Logs</li>
                <li>
                    <ul class="nav nav-list">
                        {% for j in project.jobs.all %}
                        {% url 'pumpkin.views.project_job_logs' identifier=project.identifier job_id=j.id as job_log_url %}
                        <li{% if request.path == job_log_url %} class="active"{% endif %}>
                            <a href="{{ job_log_url }}">{{ j.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="divider"></li>
                {% endif %}

                {% include 'project_nav_extra.html' %}

                {% url 'pumpkin.views.project_configure' identifier=project.identifier as url %}
                <li{% if request.path == url  %} class="active"{% endif %}>
                    <a href="{{ url }}">Configure</a>
                </li>
            </ul>

        </div>
        <div class="span10">
            {% block content_project %}
            Summary
            {% endblock content_project %}
        </div><!--end.span10-->
    </div>
</div>
{% endblock content %}
