{% extends "project_jobs.html" %}

{% block title %}Project - {{ project.name }} - Jobs {% endblock %}

{% block job_content%}
<table class="table table-border">
    <thead>
        <tr>
            <th>Date Time</th>
            <th>Status</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ log.begin }}</td>
            <td>{{ log.status }}</td>
            <td>{{ log.duration }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock job_content %}

