<ul class="nav nav-list">

    {% url 'pumpkin.views.project' identifier=project.identifier as url %}
    <li{% if request.path == url %} class="active"{% endif %}>
        <a href="{{ url }}">Summary</a>
    </li>

    {% url 'pumpkin.views.project_jobs' identifier=project.identifier as url %}
    <li{% if request.path == url %} class="active"{% endif %}>
        <a href="{{ url }}">Jobs</a>
    </li>

    {% if job %}
    {% url 'pumpkin.views.project_jobs' identifier=project.identifier as url %}
    <li class="nav-header">Job Logs</li>
    <li>
        <ul class="nav nav-list">
            {% for j in project.jobs.all %}
            {% url 'pumpkin.views.project_job_logs' identifier=project.identifier job_id=j.id as job_log_url %}
            <li{% if request.path == job_log_url %} class="active"{% endif %}>
                <a href="{{ job_log_url }}">{{ j.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </li>
    <li class="divider"></li>
    {% endif %}

    {% url 'pumpkin.views.project_configure' identifier=project.identifier as url %}
    <li{% if request.path == url  %} class="active"{% endif %}>
        <a href="{{ url }}">Configure</a>
    </li>
</ul>
