{% extends "project.html" %}

{% block title %}Project - {{ project.name }} - Jobs {% endblock %}

{% block content_project %}
<table class="table table-border">
    <thead>
        <tr>
            <th>Name</th>
            <th>Last Running</th>
            <th>Last Status</th>
            <th>Last Duration</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        {% for job in project.jobs.all %}
        <tr>
            <td><a href="{% url 'pumpkin.views.project_job_logs' identifier=project.identifier job_id=job.id %}">{{ job.name }}</a></td>
            <td>{{ job.last_run.begin }}</td>
            <td>{{ job.last_run.status }}</td>
            <td>{{ job.last_duration }}</td>
            <td><a href="#"><i class="icon-play-circle"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content_project %}

