{% extends "base.html" %}
{% block title %}Project - {{ project.name }}{% endblock %}
{% block content %}


<header>
    <div class="container">
        <div class="row">
            <div class="span-2">
                <a href="{% url 'pumpkin.views.project' identifier=project.identifier %}">
                    <img src="{{ STATIC_URL }}img/no-logo-80.jpg" class="img-circle"/>
                </a>
            </div>
            <div class="span-10">
                <a href="{% url 'pumpkin.views.project' identifier=project.identifier %}">
                    <h3 class="project-name">{{ project.name }}</h3>
                </a>
                <p>{{ project.description }}</p>
            </div>
        </div>
    </div>
</header>


<div class="submenu">
    <div class="container">
        {% block project_nav %}
        <ul class="nav nav-tabs">
            {% block project_nav_home %}<li><a href="{% url 'pumpkin.views.project' identifier=project.identifier %}">Overview</a></li>{% endblock %}
            {% block project_nav_jobs %}<li><a href="{% url 'pumpkin.views.project_jobs' identifier=project.identifier %}">Jobs</a></li>{% endblock %}
            {% block project_nav_configure %}<li class="pull-right"><a href="{% url 'pumpkin.views.project_configure' identifier=project.identifier %}">Configure</a></li>{% endblock %}
        </ul>
        {% endblock project_nav %}
    </div>
</div>

<div class="project-content">
    <div class="container">
        {% block project_content %}
        {% endblock project_content %}
    </div>
</div>
{% endblock content %}
