{% extends "project/base.html" %}
{% load widget_tweaks %}

{% block title %}Project - {{ project.name }} - Configure{% endblock %}

{% block project_nav_configure%}<li class="active pull-right"><a href="{% url 'pumpkin.views.project_configure' identifier=project.identifier %}">Configure</a></li>{% endblock %}

{% block project_content %}
<div class="row">
    <div class="span2">
        {% block config_nav %}
        <ul class="nav nav-list">
            <li class="active"><a href="{% url 'pumpkin.views.project_configure' identifier=project.identifier %}">Basic Info</a></li>
            <li><a href="{% url 'pumpkin.views.project_configure_repository' identifier=project.identifier %}">Repository</a></li>
            <li><a href="{% url 'pumpkin.views.project_configure_server' identifier=project.identifier %}">Server</a></li>
        </ul>
        {% endblock config_nav %}
    </div>
    <div class="span10">
        {% block config_content %}
        <form class="form-horizontal" method="post">
            {% csrf_token %}
            <legend>{% block config_title %} {{ project.name }} - Basic Info{% endblock config_title %}</legend>
            {% for field in form %}
            <div class="control-group">
                <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div class="controls">
                    {{ field|add_class:"input-block-level" }}
                    {{ field.errors }}
                </div>
            </div>
            {% endfor %}
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
        {% endblock config_content %}
    </div>
</div>
{% endblock project_content %}

