{% extends "project/configure/base.html" %}
{% block config_nav %}
<ul class="nav nav-list">
    <li><a href="{% url 'pumpkin.views.project_configure' identifier=project.identifier %}">Basic Info</a></li>
    <li><a href="{% url 'pumpkin.views.project_configure_repository' identifier=project.identifier %}">Repository</a></li>
    <li class="active"><a href="{% url 'pumpkin.views.project_configure_server' identifier=project.identifier %}">Server</a></li>
</ul>
{% endblock config_nav %}

