/*! project specific CSS goes here. */

html, body {
    background-color: #F5F5F5;
}

h3.project-name{
    margin: 5px 0 0 0;
}

.navbar-search .search-query {
    padding-left: 29px !important;
}

.navbar-search .icon-search {
    position: absolute;
    top: 7px;
    left: 11px;
}

.submenu {
    background: none repeat scroll 0 0 #F5F5F5;
    margin-top: 20px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

.submenu ul.nav{
    margin-bottom: 0;
    border-bottom: 0;
}


.submenu ul.nav > .active > a{
    border: 1px solid transparent;
    background-color: transparent;
    position:relative;
    font-weight: bold;
}

.submenu ul.nav > .active > a:before{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent #CCCCCC;
    border-image: none;
    border-style: outset outset solid;
    border-width: 8px;
    bottom: 0;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -8px;
    overflow: hidden;
    position: absolute;
    width: 0;
}


.submenu ul.nav > .active > a:after{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent #FFFFFF;
    border-image: none;
    border-style: outset outset solid;
    border-width: 8px;
    bottom: -1px;
    content: "";
    height: 0;
    left: 50%;
    margin-left: -8px;
    overflow: hidden;
    position: absolute;
    width: 0;
}


.project-content {
    background-color: #ffffff;
    padding: 20px 0 50px;
    border-bottom: 1px solid #CCCCCC;
}
.project-content h4 {
    font-weight: normal;
}

.new-project {
    background-color: #ffffff;
    margin-top:20px;
    border: 1px solid #CCCCCC;
    padding:20px;
}

legend.sublegend {
    font-size: 14px;
    font-weight: bold;
    padding-bottom:0;
}

.input-build-step {
    width: 95%;
    display: block;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.build-step {
    border: 1px dotted #CCCCCC;
    padding: 5px;
    margin-bottom: 5px;
    cursor: move;
}
div.build-step label {
    cursor: move;
}
.pre {
    white-space: pre;
}
body .modal-log {
    width: 750px;
    margin-left: -375px;
}

footer{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: small;

}
